<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div class="blog-post-comments"></div>
<script>
    new Valine({
        el: '.blog-post-comments', //
        app_id: {{ .Site.Params.Customize.Valine.LeanCloudAppID }}, // 这里填写上面得到的APP ID
        app_key: {{ .Site.Params.Customize.Valine.LeanCloudAppKey }}, // 这里填写上面得到的APP KEY
        placeholder: {{ .Site.Params.Customize.Valine.placeholder }}, // [v1.0.7 new]留言框占位提示文字
        avatar: {{ .Site.Params.Customize.Valine.avatar }},
        notify:{{ .Site.Params.Customize.Valine.notify }},
        verify:{{ .Site.Params.Customize.Valine.verify }}
    });
</script>
